body {
    margin: 0;
}

.container-wrap {
    background-color: #bf9cd9;
    padding: 280px;
    margin: 0;
    text-align: center;
    place-items: center;
}

h1, p {
    font-size: 2rem;
}









